body{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}

.main-body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.2),rgba(0,0,0,.8)),url("assets/backdrop.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom: 7px solid #333;
}

nav{
    
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

nav img{
    background-color: transparent;
    margin-left: 20px;
    height: 40px;
    
}

.language-selector select{
    color: white;
    background-color: transparent;
    height: 36px;
    width: 85px;
    border : none;
    outline: none;
}

.right{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.language-selector{
    display: flex;
    border: 1px solid white;
    height: 36px;
    width: 100px;
    border-radius: 2px;
    align-items: center;
}

.language-selector option{
    background-color: gray;
}


.globe-icon img{
    margin-left: 10px;
    filter: invert(100%);
    height: 20px;
    background-color: transparent;
}

.sign-in{
    background-color: transparent;

}

.sign-in button{
    font-size: 18px;
    color: white;
    border: none;
    margin-top: -2px;
    height: 35px;
    width: 80px;
    background-color: red;
    border-radius: 5px;
}

.center-content{
    margin: auto;
    text-align: center;
    width: 950px;
}

.center-content h1{
    margin-left: 155px;
    margin-right: 155px;
    font-size: 50px;
}

.center-content h2{
    font-size: 26px;
    font-weight: 100;
    margin-top: -20px;
}

.h3{
    font-size: 18px;
    text-align: center;
}


.email{
    display: flex;
    justify-content: center;
}

input{
    padding-left: 10px;
    height: 60px;
    width: 450px;
}

.btn{
    font-size: 26px;
    font-weight:600;
    background-color:red;
    color: white;
    width: 210px;
    height: 65px;
    outline: none;
    border: none;
}

.watch-on-tv {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    border-bottom: 7px solid #333;
}

.left h1{
    font-size: 50px;
}

.watch-on-tv .left{
    margin-right: 40px;
    margin-top:100px ;
}

.watch-on-tv .right{
    position: relative;
    margin-right: 20px;
}

.watch-on-tv .video{
    position: absolute;
    right: -13px;
    top: 82px;
}

.watch-on-tv video{
    width: 390px;
}

.watch-on-tv img{
    margin-right: 60px;
    height: 400px;
    position: relative;
}

.phone-image{
    position: relative;
    margin-bottom: 100px;
}

.phone-image #phone{
    width: 500px;
}

.download-screen{
    display: flex;
    border-bottom: 7px solid #333;
}


.download .content{
    display: flex;
    flex-direction: column;
    
}

.download{
    position: absolute;
    left : 85px;
    bottom : 10px;
    display: flex;
    width: 320px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: black;
    
}

.download #img{
    padding: 10px 10px;
    height: 80px;
    margin-right: 15px;
}

.download #gif{
    margin-left: 45px;
    padding-top: 25px;
    height: 50px;
}

.download .content{
    padding-top: 30px;
}

.download .content span{
    font-weight: 600;
}

.download .content a{
    color: blue;
}


.download-screen .content-right h1{
    font-size: 50px;
}

.download-screen .content-right{
    width: 550px;
    margin-left: 100px;
    margin-top:100px ;
}

.watch-everywhere{
    position: relative;
    display: flex;
    justify-content: space-around;
    border-bottom: 7px solid #333;
}

.watch-everywhere .left{
    margin-top: 100px;
    width: 500px;
}

.watch-everywhere .screen{
    position: relative;
}

.watch-everywhere .screen img{
    padding-top: 40px;
    margin-right: 100px;
    width: 500px;
}

.watch-everywhere video{
    width: 305px;
    right: 165px;
    top: 70px;
    position: absolute;
}

.children{
    display: flex;
    padding-bottom: 50px;
    border-bottom: 7px solid #333;
}

.children img{
    padding-top: 40px;
    padding-left: 80px;
    height: 350px;
}

.children .content-right{
    margin-left: 100px;
    width: 550px;
}

.children h1{
    font-size: 50px;
    padding-top: 100px;
}

.end{
    padding-bottom: 80px;
    border-bottom: 7px solid #333;
}

.end h1{
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
}

.button-list{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 815px;
    margin-bottom: 80px;

}

.button-list button{
    cursor: pointer;
    text-align: start;
    padding-left: 30px;
    font-size: 30px;
    color: white;
    background-color: #303030;
    height: 75px;
    margin-bottom: 5px;
}

footer{
    color: gray;
    padding-bottom: 20px;
    margin-left: 200px;
}

table td{
    padding-bottom: 15px;
}

table td a{
    margin-right: 100px;
    font-size: 14px;
}

.language-selector-footer select{
    padding-left: 10px;
    color: white;
    background-color: transparent;
    height: 36px;
    width: 85px;
    border : none;
    outline: none;
}

.language-selector-footer{
    margin-top: 20px;
    display: flex;
    border: 1px solid white;
    height: 56px;
    width: 130px;
    border-radius: 2px;
    align-items: center;
}

.language-selector-footer option{
    background-color: black;
}

footer #first{
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 14px;
}

footer #last{
    margin-top: 30px;
    font-size: 14px;
}